:root {
	--gamecolor: dodgerblue;
	--gameseccolor: lightskyblue;
	--gamedarkcolor: navy;
	--gamelightcolor: azure;
}

canvas {
	background: var(--gamelightcolor);
	display: block;
	margin: 0 auto;
	margin-bottom: 16px;
	border: 6px groove var(--gamecolor);
	border-radius: 6px;
}

main {
	width: 660px;
	margin: auto;
	margin-top: 10px;
	/* background-color: var(--gamecolor); */
	background-image: linear-gradient(to bottom, var(--gamedarkcolor), var(--gameseccolor));
	border: 6px outset var(--gamedarkcolor);
	border-radius: 10px;
	padding: 10px;
	/* border-collapse: separate;
	border-spacing: 8px; */
	text-align: center;	
}

.gametable {
	display: inline-table;
	position: relative;
	width: 45%;
	background-color: var(--gamecolor);
	border-radius: 10px;
	padding: 1px;
}

.debug {
	width: 320px;
}

td {
	padding: 10px;
	background-color: var(--gamelightcolor);
}

.maintd {
	background-color: var(--gameseccolor);
	border-radius: 10px 10px 0 0;	
}

.tdbot {
	border-radius: 0 0 10px 10px;
}

.tdright{
	border-radius: 0 0 10px 0;
}
.tdleft{
	border-radius: 0 0 0 10px;
}

.div100{	
	width: 90%;
	display: inline-block;
}

.div50{
	width: 45%;
	display: inline-block;
}

.divtop {
	background-color: var(--gameseccolor);
	border-radius: 10px 10px 0 0;
	padding: 10px;
	/* border-collapse: separate;
	border-spacing: 8px; */
}

.divbot {
	padding: 10px;
	background-color: var(--gamelightcolor);
	border-radius: 0 0 10px 10px;
	padding: 10px;
}

.mytimer {
	width: 50px;
}